
body {
	background-image: url("../media/bg.jpg");
	font-family: 'Sniglet';
}

.custom-font {
	font-family: 'Sniglet';
}

.color-white {
	color: white
}

.card {
	background-color: rgba(255, 255, 255, 0.18);
	border: 1px solid rgba(59, 88, 118, 0.71);
}

.custom-card {
	background-color: #fff;
	border: 1px solid rgba(31, 31, 31, 0.41);
}

/*.text-muted {
	color: #fff!important;
}*/

.img-border {
    padding: .76rem;
    background-color: #fff;
    max-width: 100%;
    height: auto;
}

.custom-detail-card {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .45rem;
}

.col-form-label {
	color: #fff
}

.bg-dark {
	background-color: rgba(15, 37, 64, 0.4588235294117647)!important;
}
.cwspy{
	color: white !important;
}

#id_description , #div_id_name, #id_activities, #id_optimal_visiting_season {
	width: 40%;
}